{%  load static %}

<form method="GET" action="{% url 'search:query' %}" class="mt-5 search-form">
        <input class="w-100 rounded inp-srch pl-2 pt-1 pb-1" type="search" placeholder="Buscar" name='q'
               aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn-sub-inp border-0 mt-5 p-2 rounded-right" type="submit">
                <img src="{% static 'img/Search.png' %}" width="25" height="28" alt=""/>
            </button>
</form>
