{% load static %}

<div class="container-fluid">
    <div class="row align-items-start row-color-hd text-white h-220">
        <div class="col col-md-1">
        </div>
        <div class="col-md-3 mt-2 text-center">
            <img src="{% static 'img/logo-white.png' %}" height="78px" width="206px" alt=""/>
            <p class="pr-4 pl-4 text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <br/>
            <div class="container-fluid">
                <div class="row w-100 align-items-middle">
                    <div class="col col-md-2">
                    </div>
                    <div class="col-sm-2 text-center">
                        <a target="_blank" rel="noopener" class="social-footer" href="https://www.facebook.com/mirumeelabs/">
                            <img src="{% static 'img/facebook-logo.svg' %}" width="25px" height="25px" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a target="_blank" rel="noopener" class="social-footer" href="https://twitter.com/getsaleor">
                            <img src="{% static 'img/twitter-logo.svg' %}" width="25px" height="25px" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a target="_blank" rel="noopener" class="social-footer" href="https://plus.google.com/+Mirumee">
                            <img src="{% static 'img/google-logo.svg' %}" width="25px" height="25px" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a target="_blank" rel="noopener" class="social-footer" href="https://www.instagram.com/explore/tags/mirumee/">
                            <img src="{% static 'img/instagram-logo.svg' %}" width="25px" height="25px" alt=""/>
                        </a>
                    </div>
                    <div class="col col-md-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-2 text-center">
            <h3>Navegaci&oacute;n</h3>
            <br/>
            <ul class="ft-ul-title">
                <li>Perfumes</li>
                <li>Tecnologia</li>
                <li>Relojes</li>
            </ul>
        </div>
        <div class="col-md-2 mt-2 text-center">
            <h3>Mi Cuenta</h3>
            <br/>
            <ul class="ft-ul-title">
                <li>Tu Carro</li>
                <li>Registrarse</li>
                <li>Iniciar Sesion</li>
            </ul>
        </div>
        <div class="col-md-3 mt-2 text-center">
            <h3>Metodos de Pago</h3>
            <br/>
            <p class="pr-4 pl-4 text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="container-fluid">
                <div class="row w-100 align-items-middle">
                    <div class="col col-md-2">
                    </div>
                    <div class="col-sm-2 text-center">
                        <img src="{% static 'img/visa.png' %}" width="45px" height="40px" alt=""/>
                    </div>
                    <div class="col-sm-2 text-center">
                        <img src="{% static 'img/mastercard.png' %}" width="45px" height="40px" alt=""/>
                    </div>
                    <div class="col-sm-2 text-center">
                        <img src="{% static 'img/american.png' %}" width="45px" height="40px" alt=""/>
                    </div>
                    <div class="col-sm-2 text-center">
                        <img src="{% static 'img/discover.png' %}" width="45px" height="40px" alt=""/>
                    </div>
                    <div class="col col-md-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-1">
        </div>
    </div>

    <div class="row row-color-hd text-white pt-3 align-items-middle ft-copryght">
        <div class="col col-md-1">
        </div>
        <div class="col-md-5">
            @2018 HYPERNOVA. TODOS LOS DERECHOS RESERVADOS.
        </div>
        <div class="col-md-5 text-right">
            TÉRMINOS Y CONDICIONES &nbsp; | &nbsp; POLÍTICA DE PRIVACIDAD &nbsp; | &nbsp; ACERCA DE &nbsp;
        </div>
        <div class="col col-md-1">
        </div>
    </div>

</div>
