{%  load static %}

{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}
{% url 'products:list' as product_list_url%}

<header>
    <div class="container-fluid h-50">
        <div class="row align-items-start row-color-hd text-white">
            <div class="col col-md-1">
            </div>
            <div class="col col-md-6 mt-2">
                CONTACTO TELEFONICO: +593 98 539 4890
            </div>
            <div class="col col-md-5 mt-2 text-center">
                {% if request.user.is_authenticated %}
                    <a class="a-language" href="{{ logout_url }}">Cerrar sesión</a>
                {% else %}
                    <a class="a-language" href={{ register_url }}>Registrarse</a>  &nbsp;&nbsp;&nbsp;<a class="a-language" href={{ login_url }}>Iniciar Sesión</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid h-75">
        <div class="row w-100 align-items-middle">
            <div class="col col-md-1">
            </div>
            <div class="col col-md-1 mt-4 pt-2 pl-5 text-center">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'img/logo-menu.png' %}" height="40px" width="30px" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ product_list_url }}">Todos</a>
                        <a class="dropdown-item" href="#">Tecnología</a>
                        <a class="dropdown-item" href="#">Perfumes</a>
                        <a class="dropdown-item" href="#">Relojes</a>
                    </div>
                </div>

            </div>
            <div class="col-md-2 mt-4 mr-4 text-left">
                <a href="{{ home_url }}">
                    <img src="{% static 'img/logo.png' %}" height="85px" width="230px" alt="">
                </a>
            </div>
            <div class="col-md-5 text-center">
                {% include 'search/snippets/search-form.html' %}
            </div>
            <div class="col-md-2 text-left ml-5">
                <a class="item-cart" id="cart">
                    <span class="notify-badge">{{ request.session.cart_items }}</span>
                    <img src="{% static 'img/cart.png' %}" class="mt-5" width="48" height="50" alt=""/>
                </a>
                <div class="container-cart">
                    <div class="shopping-cart">
                        {% if cart.products.exists %}
                            <div class="shopping-cart-header">
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text sct">{{ cart.total }}</span>
                                </div>
                            </div>

                            {% for product in cart.products.all %}
                                <ul class="shopping-cart-items">
                                    <li class="clearfix">
                                        <img src="{{ product.image.url }}" width="70" height="70" alt=""/>
                                        <span class="item-name">{{ product.title }}</span>
                                        <span class="item-price">{{ product.price }}</span>
    {#                                    <span class="item-quantity"></span>#}
                                    </li>

                                </ul>
                            {% endfor %}
                            <a href="{{ cart_url }}" class="button-cart">Pago</a>
                        {% else %}
                            <span class="lead">Carreta vacia</span>
                        {% endif %}

                    </div> <!--end shopping-cart -->
                </div> <!--end container -->
            </div>
            <div class="col col-md-1">
            </div>
        </div>
    </div>
</header>
