{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{% static 'img/hyper.ico' %}"/>

        <title>Hypernova</title>

        {% include "base/css.html"%}
        {% include "base/js.html"%}

        {% block base_head %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <header>

                {% include "base/navbar2.html" with brand_name='HyperNova'%}

            </header>

            <main>

                {% block content %}{%  endblock %}

            </main>

            <footer>

                {% include "base/footer.html" %}

            </footer>
        </div>
    </body>
</html>
