{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Slider -->
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/image-1.png' %}" alt="" width="100%" height="200">

            </div>
            <div class="carousel-item">
                <img src="{% static 'img/image-2.png' %}" alt="" width="100%" height="200">

            </div>
            <div class="carousel-item">
                <img src="{% static 'img/image-3.png' %}" alt="" width="100%" height="200">

            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <!-- End Slider -->
    <br/><br/>
    <div class="container-fluid">
        <div class="row w-100 align-items-middle">
            <div class="col-md-1 text-center"></div>


            <div class="col-md-10 text-center">
                <div class="container-fluid">
                    <div class="row w-100 align-items-middle">
                        {% for obj in products %}
                        <div class="col-md-3 text-center element-p-{{ forloop.counter|add:1 }}">
                            <div class="card bg-light w-19-rem">
                                <a href="{{ obj.get_absolute_url }}">
                                    <img class="card-img-top h-25 p-2 h-270-px" src="{{ obj.image.url }}" alt="">
                                </a>
                                <div class="card-body mt-4">
                                    <h5 class="card-title">{{ obj.title }}</h5>
                                    <p class="card-text mt-4">${{ obj.price }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-1 text-center">
            </div>

        </div>
    </div>


    <br/><br/><br/><br/>
    <div class="container-fluid">
        <div class="row w-100 align-items-middle">

            <div class="col-sm-1 text-center">
            </div>

            <div class="col-md-10 text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="horizontal-slide ml-3">
                                {% for new_item in newProducts %}
                                <li class="col-md-2">
                                    <div class="card bg-light w-10-rem">
                                        <span class="badge badge-info badge-sp position-absolute p-1">Nuevo</span>
                                        <a href="{{ new_item.get_absolute_url }}">
                                            <img class="card-img-top h-25 p-1 h-150-px pt-3" src="{{ new_item.image.url }}" alt="">
                                        </a>
                                        <div class="card-body mt-1 p-2">
                                            <h5 class="card-title fs-2">{{ new_item.title }}</h5>
                                            <p class="card-text mt-2 fs-1">${{ new_item.price }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 text-center">
            </div>

        </div>
    </div>

    <br/><br/>
    <div class="container-fluid">
        <div class="row w-100 align-items-middle">

            <div class="col-sm-1 text-center">
            </div>

            <div class="col-md-10 text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="horizontal-slide ml-3">
                                {% for ditem in discount %}
                                <li class="col-md-2">
                                    <div class="card bg-light w-10-rem">
                                        <span class="badge badge-danger badge-sp position-absolute p-1">-{{ ditem.discount }}%</span>
                                        <a href="{{ ditem.get_absolute_url }}">
                                            <img class="card-img-top h-25 p-1 h-150-px pt-3" src="{{ ditem.image.url }}" alt="Card image cap">
                                        </a>
                                            <div class="card-body mt-1 p-2">
                                            <h5 class="card-title fs-2">{{ ditem.title }}</h5>
                                                <span style="text-decoration: line-through;">{{ ditem.price }}</span>
                                            <p class="card-text mt-2 fs-1">${{ ditem.discprice }}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 text-center">
            </div>

        </div>
    </div>

    <br/><br/>

    <div class="container-fluid">
        <div class="row w-100 align-items-middle">
            <div class="col-sm-1 text-center">
            </div>
            <div class="col-sm-5 text-center pr-2 ml-3">
                <img src="{% static 'img/flujo.png' %}" class="w-100h-100" alt=""/>
            </div>
            <div class="col-sm-5 text-center pl-2">
                <iframe width="100%" height="100%" class="bnone"
                        src="https://www.youtube.com/embed/jYilKNz9K3g">
                </iframe>
            </div>
            <div class="col-sm-1 text-center">
            </div>
        </div>
    </div>

    <br/><br/>

    <div class="container-fluid">
        <div class="row w-100 align-items-middle">
            <div class="col-sm-1 text-center">
            </div>
            <div class="col-sm-10 text-center ml-3">
                <img src="{% static 'img/ft-image.png' %}" class="w-100h-100" alt=""/>
            </div>
            <div class="col-sm-1 text-center">
            </div>
        </div>
    </div>

    <br/><br/>




{% endblock %}
