.row-color-hd
{
    background-color: #252525;
    height: 5vh;
    font-size: 0.8rem;
}
*
{
    margin: 0;
    padding: 0;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.col{
    padding-left: 0;
    padding-right: 0;
}
.container-fluid{
    padding: 0 !important;
}
.inp-srch
{
    line-height: 2.1 !important;
    border:0;
    border: 1px solid #ececec; /*e0dac4*/
}
.btn-sub-inp{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #e3401f;
    margin-left: 45% !important;
}
.item-cart {
    position:relative;
    display:inline-block;
    cursor: pointer;
}
.notify-badge{
    position: absolute;
    right:-20px;
    top:32%;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px !important;
    font-size:12px;
}
.dropdown-toggle::after {
    display:none;
}
#to-show-cart {
    display: block; !important;
    position: absolute;
    width: 15vw;
    height: 15vh;
    border:1px solid #000;
    z-index: 9999;
    background-color: #FFF;
}
.item-cart:hover + #to-show-cart {
    display: block;
}

/* Make the image fully responsive */
.carousel, .carousel-inner{
    width: 100%;
    height: 324px;
}
.carousel-inner img {
    width: 100%;
    height: 324px;
}

.container-cart {
    margin: auto;
    width: 19vw;
    position: absolute;
    z-index: 9999;
    overflow-y:auto;
    left:0;
}
.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 19vw;
    position: relative;
    border-radius: 3px;
    padding: 16px;
    display:none;
    border:none;
    list-style-type: none;
}

.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
.shopping-cart-total {
    float: right;
}


.shopping-cart-items {

    padding-top: 20px;
    list-style-type: none;
}

.shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #E8E8E8;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button-cart {
    background: #E8E8E8;
    color:#000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button-cart:hover {
    background: lighten(#6394F8, 50%);
    color: #000;
    text-decoration: none;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.przero{
    padding-right: 0 !important; padding-left: 2% !important;
}

ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}
.badge-sp{
    right: 0;
    font-size: 11px;
}
.badge-img{
    width: 200px;
    height: 150px;
}

.a-language{
    color: #FFF;
    text-decoration: underline;
}

.w-100h-100{
    width: 100%;
    height: 100%;
}
.bnone{
    border: none;
}
.h-220{
    height: 220px;
}
.ft-copryght{
    height: 45px;
    font-size: 10px;
    background-color: #2D2D2D;
}
.ft-ul-title{
    list-style-type: none;
    font-size: 1.1rem;
}


.img-w{
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 0 auto;
}
.page-link {
    color: #000;
}

.wdt-10{
    width: 20%;
}
.va-middle{
    vertical-align: middle;
    font-size: 1.5rem;
    line-height: 1%;
}

.element-products{
    text-decoration: none;
    color: #000;
}
.element-products:hover{
    text-decoration: none;
    color: #000;
}


.card-img-wrap {
    overflow: hidden;
    position: relative;
}
.card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity .25s;
}
.card-img-wrap img {
    transition: transform .25s;
    width: 100%;
}
.card-img-wrap:hover img {
    transform: scale(1.2);
}
.card-img-wrap:hover:after {
    opacity: 1;
}

.element-p-2{
    padding-right: 0 !important;
    padding-left: 0% !important;
}
.element-p-3{
    padding-right: 0 !important;
    padding-left: 1% !important;
}
.element-p-4{
    padding-right: 0 !important;
    padding-left: 2% !important;
}
.element-p-5{
    padding-right: 0 !important;
    padding-left: 3% !important;
}
.w-19-rem{
    width: 19rem;
}
.w-10-rem{
    width: 10rem;
}
.h-150-px{
    height: 135px !important;
}
.h-270-px{
    height: 270px !important;
}
.fs-2{
    font-size: 1rem;
}
.fs-1{
    font-size: 0.8rem;
}


.ovf-x-auto{
    overflow-x: auto;
}
