{% extends "base.html" %}

{% block content %}

    {% if not billing_profile %}
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <p class="lead">Login</p>
                {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
            </div>
            <div class="col-12 col-md-6">
                Continue as Guest
                {% url 'guest_register' as guest_register_url %}
                {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}

            </div>
        </div>

    {% else %}
        {% if not object.shipping_address %}
            <div class="row">
                <div class="col-12">
                    <p class="lead">Direccion de Envio</p>
                    <hr/>
                </div>
                <div class="col-6">

                        {% url "checkout_address_create" as checkout_address_create %}
                        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='entrega' %}

                </div>
                <div class="col-6">
                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='entrega' action_url=checkout_address_reuse %}
                </div>
            </div>

        {% elif not object.billing_address %}

            <div class="row">
                <div class="col-12">
                    <p class="lead">Direccion de Pago</p>
                    <hr/>
                </div>
                <div class="col-6">
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='pago' %}
                </div>

                <div class="col-6">
                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='pago' action_url=checkout_address_reuse %}
                </div>

            </div>
        {% else %}

            <h1>Checkout</h1>

            <p>Carreta: {% for p in object.cart.products.all %}{{ p }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p>Direccion de entrega: {{ object.shipping_address.get_address }}</p>
            <p>Direccion de pago: {{ object.billing_address.get_address }}</p>
            <p>Total de la carreta: {{ object.cart.total }}</p>
            <p>Costo de envio: {{ object.shipping_total }}</p>
            <p>Orden total: {{ object.order_total }}</p>
            <form class="form" method="POST" action="">
            {% csrf_token %}
                <button type="submit" class="btn btn-success">Finalizar</button>
            </form>


        {% endif %}

    {% endif %}

{% endblock %}
