{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row w-100 align-items-middle">
            <div class="col col-md-2"></div>
            <div class="col col-md-10">
                <div class="container-fluid">
                    <div class="row w-100 align-items-middle">
                        <div class="col col-md-5">
                            {% if object.image %}
                                <img src="{{ object.image.url }}" class="img-fluid" width="400" height="550" alt=""/>
                            {% endif %}
                        </div>
                        <div class="col col-md-6">
                            <h1>{{ object.title }}</h1>
                            <h4>$ {{ object.price }}</h4>
                            <h5 class="mt-5">Tamaño</h5>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light">1L</button>
                                <button type="button" class="btn btn-light">1.5L</button>
                                <button type="button" class="btn btn-light">2L</button>
                            </div>
                            <h5 class="mt-5">Cantidad</h5>
                                {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
                            <h5 class="mt-5">Descripción</h5>
                            <hr/>
                            <p>{{ object.description | linebreaks}}</p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
