{% extends "base.html" %}

{% block content %}

    {{ object.title }}<br/>
    {{ object.description }}<br/>
    {% if object.image %}
        <img src="{{ object.image.url }}" class="img-fluid" /><br/>
    {% endif %}

{% endblock %}