{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row w-100 align-items-middle">
            <div class="col col-md-1">
            </div>
            <div class="col col-md-11">
                <h5 class="card-title">Todos nuestros productos</h5>
            </div>
        </div>

    <div class="row w-100 align-items-middle">
        <div class="col col-md-1"></div>
            <div class="col-md-2 mt-2 text-center">
                <form method="post" action="">
                    <div class="card mt-3">
                        <div class="card-header">
                            Filtros
                        </div>
                        <div class="card-body pl-3">
                            <!-- <h5 class="card-title">Precio</h5> -->
                            <p class="card-text text-left">
                            <label for="customRange1">Precio</label>
                            <div class="container-fluid">
                                <div class="row w-100 align-items-middle">
                                    <div class="col col-md-2">
                                        <b>0</b>
                                    </div>
                                    <div class="col col-md-7">
                                        <input type="range" class="custom-range" id="customRange1" value="0" min="0" max="1000">
                                    </div>
                                    <div class="col col-md-3">
                                        <b>1000</b>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">
                            <div class="container-fluid">
                                <div class="row w-100 align-items-middle">
                                    <div class="col col-md-12 text-left ml-4">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Descuento</label>
                                    </div>
                                </div>
                                <div class="row w-100 align-items-middle">
                                    <div class="col col-md-12 text-left ml-4">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck1">Nuevo</label>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary">Buscar</a>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-9 mt-2 text-center">
                <div class="container-fluid">
                    <div class="row w-100 align-items-middle">
                        {% for obj in object_list %}
                            <div class="col">
                            {% include 'products/snippets/card.html' with instance=obj %}

                            {% if forloop.counter|divisibleby:3 %}
                                </div>
                                </div>
                                <div class="row"><div class="col-12" style="min-height: 20px;"></div>
                            {% else %}
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
{#    <div class="row w-100 align-items-middle">#}

{#    <div class="col-md-12 mt-5">#}
{#        <nav aria-label="Page navigation example">#}
{#            <ul class="pagination justify-content-center">#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="#" tabindex="-1">Previous</a>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="#">Next</a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
{#    </div>#}


{% endblock %}


