{% extends "base.html" %}

{% block content %}

    <h1>Iniciar sesión</h1>
    <form method="POST">{% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-default">Login</button>

    </form>


{% endblock %}
