{% extends "base.html" %}

{% block content %}

    <h1>Registrase</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">Registrarse</button>

    </form>


{% endblock %}
