<div class="card" style="width: 18rem;">
    {% if instance.image %}
        <a href="{{ instance.get_absolute_url }}">
            <img class="card-img-top" src="{{ instance.image.url }}" height= "270" width="270" alt="{{ instance.title }} logo">
        </a>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ instance.title }}</h5>
        <p>${{ instance.price }}</p>
        {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}

    </div>
</div>
