<form class="form-row form-product-ajax" method="POST" action="{% url 'cart:update' %}" data-endpoint="{% url 'cart:update' %}" class="form"> {% csrf_token %}
    <input class="form-control w-100 p-4 text-center" type="hidden" name="product_id" value="{{ product.id }}" />

    <span class="submit-span">
        {% if product in cart.products.all %}
            In cart <button type="submit" class="btn btn-link">Remover?</button>
        {% else %}
            <button type="submit" class="form-control btn btn-info p-4 va-middle">Añadir</button>
        {% endif %}
    </span>

</form>

